section + ul{
  color: white;
  background: pink;
}
p:nth-of-type(2n){
  background:green;
}
p:nth-of-type(2n+1){
  background:gray;
}
p:first-child{
  font-size:20px;
  color:white;
}
p:last-of-type{
  font-size:20px;
  color:white;
}
section > article > header{
  background: yellow;
  color: gray;
}
h2, h3{
  background : black;
  color:white;
}
